/* ===== variable css ===== */
:root {
    /* === font === */
    --primary-font: "IBM Plex Sans", sans-serif;
    --secondary-font: "Yellowtail", cursive;
    --font-bold: 700;
    /* === font === */
    /* === color === */
    --white-clr: #fff;
    --primary-clr: #ff9600;
    /* === color === */
    /* === transition === */
    --transition: all 0.3s linear;
    /* === transition === */
}
/* ===== variable css ===== */
/* ===== common css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.8;
}
ul,
ol,
menu {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    width: 1320px;
    margin: 0 auto;
}
.common_btn a {
    display: flex;
    column-gap: 10px;
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-weight: var(--font-bold);
    padding: 20px 51px;
    background-color: var(--primary-clr);
    border-radius: 4px;
    transition: var(--transition);
}
/* ===== common css ===== */
/* ===== navbar css start here ===== */
.navbar {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.224);
    z-index: 99999999;
}
.navbar-brand {
    width: 225px;
    height: 67px;
    overflow: hidden;
    object-fit: cover;
}
.navbar-nav {
    column-gap: 50px;
}
.nav-link {
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-size: 18px;
    font-weight: var(--font-bold);
    text-transform: capitalize;
}
.nav-link:hover {
    color: var(--primary-clr);
}
/* ===== navbar css end here ===== */
/* ===== banner section start here ===== */
#banner {
    padding: 291px 156px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
        url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_wrapper h2 {
    width: 819px;
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: var(--font-bold);
    margin: 0 auto;
    padding-bottom: 55px;
}
.banner_btn {
    column-gap: 40px;
}
.banner_btn .common_btn a:hover {
    background-color: var(--white-clr);
    color: var(--primary-clr);
}
.banner_shape {
    width: 100%;
    height: 65px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* ===== banner section start here ===== */
