/* ===== variable css ===== */
:root {
    /* === font === */
    --primary-font: "IBM Plex Sans", sans-serif;
    --secondary-font: "Yellowtail", cursive;
    /* == font weight == */
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
    /* == font weight == */
    /* == line height == */
    --line-h-normal: 1.5;
    /* == line height == */
    /* === font === */
    /* === color === */
    --white-clr: #fff;
    --primary-clr: #ff9600;
    --black-clr: #222;
    /* === color === */
    /* === transition === */
    --transition: all 0.3s linear;
    /* === transition === */
}
/* ===== variable css ===== */
/* ===== common css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.8;
}
ul,
ol,
menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    width: 1320px;
    margin: 0 auto;
}
.common_btn a {
    display: flex;
    column-gap: 10px;
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-weight: var(--font-bold);
    padding: 20px 51px;
    background-color: var(--primary-clr);
    border-radius: 4px;
    transition: var(--transition);
}
.common_btn a:hover {
    background-color: var(--white-clr);
    color: var(--primary-clr);
}
/* ===== common css ===== */
/* ===== navbar css start here ===== */
.navbar {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.224);
    z-index: 99999999;
}
.navbar-brand {
    width: 225px;
    height: 67px;
    overflow: hidden;
    object-fit: cover;
}
.navbar-nav {
    column-gap: 50px;
}
.nav-link {
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-size: 18px;
    font-weight: var(--font-bold);
    text-transform: capitalize;
}
.nav-link:hover {
    color: var(--primary-clr);
}
/* ===== navbar css end here ===== */
/* ===== banner section start here ===== */
#banner {
    padding: 291px 156px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
        url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_wrapper h2 {
    width: 819px;
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: var(--font-bold);
    margin: 0 auto;
    padding-bottom: 55px;
}
.banner_btn {
    column-gap: 40px;
}
.banner_shape {
    width: 100%;
    height: 65px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* ===== banner section start here ===== */
/* ===== adventure section start here ===== */
#adventure {
    padding: 70px 0 85px 0;
}
.adventure_content_wrapper {
    margin-right: 70px;
}
.adventure_content_wrapper h5 {
    color: #14b9f1;
    font-family: var(--secondary-font);
    font-size: 30px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
}
.adventure_content_wrapper h2 {
    color: var(--black-clr);
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: var(--font-bold);
    line-height: var(--line-h-normal);
    position: relative;
    margin-bottom: 60px;
}
.adventure_content_wrapper h2::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #a0a0a0;
    left: 0;
    bottom: -25px;
}
.adventure_content_wrapper p {
    color: var(--black-clr);
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
    padding-bottom: 40px;
}
.adventure_content_wrapper ul li {
    padding-left: 50px;
    padding-bottom: 35px;
    color: #222;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
    position: relative;
}
.adventure_content_wrapper ul li span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adventure_btn {
    display: inline-block;
}
.adventure_img_wrapper {
    display: flex;
    align-items: center;
}
.adventure_img_1 {
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 50px;
}
.adventure_img_1 img {
    width: 100%;
    height: 100%;
}
.adventure_img_2 {
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
}
.adventure_img_2 img {
    width: 100%;
    height: 100%;
}
/* ===== adventure section end here ===== */
/* ===== counter section start here ===== */
#counter {
    padding-bottom: 200px;
}
.counter_item_wrapper {
    position: relative;
}
.counter_item {
    width: 305px;
    height: 225px;
    border-radius: 10px;
    background-color: #fff9f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter_shape {
    position: absolute;
    left: 0;
    top: 0;
}
.counter_item h2 {
    font-family: var(--primary-font);
    font-size: 75px;
    font-weight: var(--font-bold);
    color: var(--black-clr);
}
.counter_item p {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--black-clr);
}
#counter .col-lg-3:nth-child(2) .counter_item {
    background-color: #f3fef4;
}
#counter .col-lg-3:nth-child(3) .counter_item {
    background-color: #f8f8fe;
}
#counter .col-lg-3:nth-child(4) .counter_item {
    background-color: #fef8fa;
}

/* ===== counter section end here ===== */
