@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
/* ===== variable css ===== */
:root {
    /* === font === */
    --primary-font: "IBM Plex Sans", sans-serif;
    --secondary-font: "Yellowtail", cursive;
    /* == font weight == */
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
    /* == font weight == */
    /* == line height == */
    --line-h-normal: 1.5;
    /* == line height == */
    /* === font === */
    /* === color === */
    --white-clr: #fff;
    --primary-clr: #ff9600;
    --black-clr: #222;
    /* === color === */
    /* === transition === */
    --transition: all 0.3s linear;
    /* === transition === */
}
/* ===== variable css ===== */
/* ===== common css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.8;
}
ul,
ol,
menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    width: 1320px;
    margin: 0 auto;
}
.common_btn a {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-weight: var(--font-bold);
    padding: 20px 51px;
    background-color: var(--primary-clr);
    border-radius: 4px;
    transition: var(--transition);
}
.common_btn a:hover {
    background-color: var(--white-clr);
    color: var(--primary-clr);
}
/* ===== common css ===== */
/* ===== navbar css start here ===== */
.navbar {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.224);
    z-index: 99999999;
}
.navbar-brand {
    width: 225px;
    height: 67px;
    overflow: hidden;
    object-fit: cover;
}
.navbar-nav {
    column-gap: 50px;
}
.nav-link {
    font-family: var(--primary-font);
    color: var(--white-clr);
    font-size: 18px;
    font-weight: var(--font-bold);
    text-transform: capitalize;
}
.nav-link:hover {
    color: var(--primary-clr);
}
/* ===== navbar css end here ===== */
/* ===== banner section start here ===== */
#banner {
    padding: 291px 156px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
        url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_wrapper h2 {
    width: 819px;
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: var(--font-bold);
    margin: 0 auto;
    padding-bottom: 55px;
}
.banner_btn {
    column-gap: 40px;
}
.banner_shape {
    width: 100%;
    height: 65px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* ===== banner section start here ===== */
/* ===== adventure section start here ===== */
#adventure {
    padding: 70px 0 85px 0;
}
.adventure_content_wrapper {
    margin-right: 70px;
}
.common_section_title {
    color: #14b9f1;
    font-family: var(--secondary-font);
    font-size: 30px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
}
.common_section_heading {
    color: var(--black-clr);
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: var(--font-bold);
    line-height: var(--line-h-normal);
    position: relative;
}
.adventure_content_wrapper .common_section_heading,
#activities .common_section_heading {
    margin-bottom: 60px;
}
.common_section_heading::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #a0a0a0;
    left: 0;
    bottom: -25px;
}
.common_section_details {
    color: var(--black-clr);
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
}
.adventure_content_wrapper .common_section_details {
    padding-bottom: 40px;
}
.adventure_content_wrapper ul li {
    padding-left: 50px;
    padding-bottom: 35px;
    color: #222;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
    position: relative;
}
.adventure_content_wrapper ul li span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adventure_btn {
    display: inline-block;
}
.adventure_img_wrapper {
    display: flex;
    align-items: center;
}
.adventure_img_1 {
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 50px;
}
.adventure_img_2 {
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
}
/* ===== adventure section end here ===== */
/* ===== counter section start here ===== */
#counter {
    padding-bottom: 200px;
}
.counter_item_wrapper {
    position: relative;
}
.counter_item {
    width: 305px;
    height: 225px;
    border-radius: 10px;
    background-color: #fff9f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter_shape {
    position: absolute;
    left: 0;
    top: 0;
}
.counter_item h2 {
    font-family: var(--primary-font);
    font-size: 75px;
    font-weight: var(--font-bold);
    color: var(--black-clr);
}
.counter_item p {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--font-regular);
    color: var(--black-clr);
}
#counter .col-lg-3:nth-child(2) .counter_item {
    background-color: #f3fef4;
}
#counter .col-lg-3:nth-child(3) .counter_item {
    background-color: #f8f8fe;
}
#counter .col-lg-3:nth-child(4) .counter_item {
    background-color: #fef8fa;
}

/* ===== counter section end here ===== */
/* ===== activities section start here ===== */
#activities {
    padding: 100px 0;
    background-color: #0c3543;
    position: relative;
}
#activities .common_section_title {
    color: var(--primary-clr);
}
#activities .common_section_heading {
    color: var(--white-clr);
}
#activities .common_section_heading::after {
    background-color: var(--white-clr);
}
#activities .common_section_details {
    color: var(--white-clr);
    padding: 65px;
}
.activities_cards_wrapper {
    row-gap: 50px;
    padding-bottom: 80px;
}
.activities_card_inner_wrapper,
.news_card_inner_wrapper {
    width: 424px;
}
.activities_card_img {
    width: 100%;
    height: 365px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
}
.activities_card_content {
    padding: 27px;
    width: 100%;
    background-color: #0f4152;
    border-radius: 0 0 10px 10px;
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-font);
    line-height: var(--line-h-normal);
}
.activities_card_content h3 {
    font-size: 30px;
    font-weight: var(--font-bold);
}
.activities_card_content p {
    font-size: 18px;
    font-weight: var(--font-regular);
}
.activities_heading h2 {
    color: var(--white-clr);
    text-align: center;
    font-family: "Arizonia", cursive;
    font-size: 160px;
    font-weight: 400;
    line-height: var(--line-h-normal);
}
.activities_shape_1 {
    position: absolute;
    width: auto;
    bottom: 255px;
    left: 40px;
    overflow: hidden;
    object-fit: cover;
}
.activities_shape_2 {
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
}
/* ===== activities section end here ===== */
/* ===== about section start here ===== */
#about {
    padding-top: 110px;
    background-color: var(--primary-clr);
}
.about_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.about_logo {
    width: 110px;
    height: 75px;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 26px;
}
.about_heading {
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: var(--font-bold);
    line-height: var(--line-h-normal);
    padding-bottom: 46px;
}
.about_content_details {
    color: var(--white-clr);
    text-align: center;
    font-family: var(--primary-clr);
    font-size: 30px;
    font-weight: var(--font-bold);
    line-height: var(--line-h-normal);
    padding-bottom: 60px;
}
.about_btn {
    display: flex;
    column-gap: 10px;
}
.about_btn .common_btn a {
    background-color: #0c3543;
    border: 1px solid #0c3543;
    border-radius: 4px;
}
.about_btn .common_btn a:hover {
    background-color: transparent;
    border: 1px solid var(--white-clr);
    color: var(--white-clr);
}
.about_card_wrapper {
    width: 424px;
    height: 470px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}
.about_card_wrapper:hover {
    transform: translateY(-80px);
}
.about_card_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.about_card_content {
    color: var(--white-clr);
    font-family: var(--primary-font);
    line-height: var(--line-h-normal);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(34, 34, 34, 0.45) 40.1%
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 30px 65px;
    transform: scale(0);
    transform-origin: top;
    transition: var(--transition);
}
.about_card_wrapper:hover .about_card_content {
    transform: scale(1);
    transform-origin: top;
}
.about_card_content::before {
    position: absolute;
    content: "";
    width: 285px;
    height: 1px;
    background-color: #717171;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
}
.about_card_content h3 {
    font-size: 40px;
    font-weight: var(--font-bold);
}
.about_card_content p {
    font-size: 30px;
    font-weight: var(--font-regular);
    padding-bottom: 70px;
}
.about_card_content a {
    color: #a0a0a0;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: var(--font-regular);
    line-height: var(--line-h-normal);
    padding-left: 8px;
}
.about_card_content a span {
    color: var(--white-clr);
    padding-left: 15px;
}
/* ===== about section end here ===== */
/* ===== why_us section start here ===== */
#why_us {
    padding: 190px 0 90px 0;
    margin-top: -70px;
    background-color: var(--white-clr);
    position: relative;
    z-index: 2222;
}
#why_us .section_content {
    text-align: center;
    padding-bottom: 60px;
}
#why_us .common_section_heading::after {
    left: 50%;
    transform: translateX(-50%);
}
.why_us_card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.why_us_img_wrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #f2f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
}
.why_us_card_img {
    width: 55px;
    height: 55px;
    overflow: hidden;
    object-fit: cover;
}
.why_us_content {
    color: var(--black-clr);
    font-family: var(--primary-font);
    line-height: var(--line-h-normal);
}
.why_us_content h4 {
    font-size: 24px;
    font-weight: var(--font-bold);
    padding-bottom: 16px;
}
.why_us_content p {
    font-size: 18px;
    font-weight: var(--font-regular);
}
#why_us .col-lg-3:nth-child(2) .why_us_img_wrapper {
    background-color: #e7fde9;
}
#why_us .col-lg-3:nth-child(3) .why_us_img_wrapper {
    background-color: #fff4e5;
}
#why_us .col-lg-3:nth-child(4) .why_us_img_wrapper {
    background-color: #fdf1f5;
}
/* ===== why_us section end here ===== */
/* ===== news section start here ===== */
#news {
    padding: 100px 0 128px 0;
    background-color: #f7f7f7;
}
#news .common_section_title {
    color: var(--primary-clr);
}
#news .common_section_heading {
    margin-bottom: 60px;
}
#news .common_section_details {
    padding: 65px;
}
.news_card_img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
}
.news_card_content {
    padding: 30px;
    width: 100%;
    background-color: var(--white-clr);
    border-radius: 0 0 10px 10px;
    color: var(--black-clr);
    text-align: center;
    font-family: var(--primary-font);
    line-height: var(--line-h-normal);
}
.news_card_content h3 {
    font-size: 28px;
    font-weight: var(--font-bold);
    padding-bottom: 20px;
}
.news_card_content p {
    font-size: 18px;
    font-weight: var(--font-regular);
    padding-bottom: 75px;
}
.news_btn {
    font-family: var(--primary-font);
    color: var(--primary-clr);
    font-size: 18px;
    font-weight: var(--font-bold);
    line-height: var(--line-h-normal);
    transition: var(--transition);
    padding: 5px 10px;
    position: relative;
}
.news_btn::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: 100%;
    left: -10px;
    top: 0;
    border-bottom: 1px solid var(--primary-clr);
    border-top: 1px solid var(--primary-clr);
    transform: scale(0, 1);
    transition: var(--transition);
}
.news_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% + 20px);
    left: 0;
    top: -10px;
    border-left: 1px solid var(--primary-clr);
    border-right: 1px solid var(--primary-clr);
    transform: scale(1, 0);
    transition: var(--transition);
}
.news_btn:hover::after {
    transform: scale(1, 1);
}
.news_btn:hover::before {
    transform: scale(1, 1);
}
/* ===== news section end here ===== */
/* ===== branding section start here ===== */
#branding {
    padding: 100px 0;
}
.branding_section_wrapper {
    align-items: center;
    justify-content: space-between;
}
.branding_img {
    width: auto;
    overflow: hidden;
    object-fit: cover;
}
/* ===== branding section end here ===== */
/* ===== footer section start here ===== */
footer{
    position: relative;
    background-color: #0c3543;
    padding: 80px 0;
}
/* ===== footer section end here ===== */
